:root{
    background-color: linen;
}

#page_form {
    margin: 0.5em;
}

#meta_form {
    display: block;
}


#meta_form_right {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    float: right;
    position: relative;
    bottom: 2px;
}

#publish_site_button {
    font-size: 2em;
}

#page_text {
    margin-bottom: 0.5em;
}

.site_editor {
    margin-top: 2em;
    width: 100%;
    /*background-color: ghostwhite;*/
}

#page_title {
    margin-left: 0.5em;
}

#editor_window {
    margin: auto;
    width: 70%;
}

#MDXEditorWindow {
    background-color: white;
}

#output_field {
    font-family: 'Courier New', Courier, monospace;
}